header {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--card-bg);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

header h1 {
  font-size: 30px;
  margin: 0;
}
header p {
  color: gray;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 1200px) {
  header {
    padding: 18px 30px;
  }

  header h1 {
    font-size: 26px;
  }

  header p {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  header h1 {
    font-size: 24px;
  }

  header p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }

  header p {
    font-size: 13px;
  }
}