header{
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
}
header #left{
display: flex;
flex-direction: column;
gap: 3px;
}
header h1{
    font-size: 30px;

}
header p{
    color: gray;
    font-size: 16px;
}

